<script src="https://kit.fontawesome.com/c554defd4c.js" crossorigin="anonymous"></script>

  <% if @book_new.errors.any? %>
      <h3><%= @book_new.errors.count %>errors prohibited this book from being saved:</h3>
    <ul>
      <% @book_new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
      <% end %>

<p id="notice"></p>
<div class="container px-5 px-sm-0">
<div class="row">

<%= render 'books/books', user: @user,book_new: @book_new %>

   <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
     <tbody>
      <tr>
       <td>
        
         <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %>
        
        <br>
        <%= link_to @user do %>
        <%= @user.name %>
        <% end %>
       </td>
       <td>
        <%= @book.title %>
       </td>
       <td>
        <%= @book.body %>
       </td>
       <td>
         <% if @book.user == current_user %>
         <%= link_to "Edit", edit_book_path(@book),class:"btn btn-sm btn-success" %>
       </td>
       <td>
         <%= link_to "Destroy", book_path(@book), method: :delete,class:"btn btn-sm btn-danger" %>
         <% end %>
       </td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 </div>